[submodule "kittycad.rs"]
	path = kittycad.rs
	url = https://github.com/KittyCAD/kittycad.rs
[submodule "bundle/lspsaga.nvim"]
	path = bundle/lspsaga.nvim
	url = https://github.com/nvimdev/lspsaga.nvim.git
