{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel API",
    "description": "Vercel combines the best developer experience with an obsessive focus on end-user performance. Our platform enables frontend teams to do their best work.",
    "contact": {
      "email": "support@vercel.com",
      "name": "Vercel Support",
      "url": "https://vercel.com/support"
    },
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.vercel.com",
      "description": "Production API"
    }
  ],
  "paths": {},
  "components": {
    "schemas": {
      "AccessGroup": {
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of this access group.",
            "example": "my-access-group"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp in milliseconds when the access group was created.",
            "example": 1588720733602
          },
          "teamId": {
            "type": "string",
            "description": "ID of the team that this access group belongs to.",
            "example": "team_123a6c5209bc3778245d011443644c8d27dc2c50"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp in milliseconds when the access group was last updated.",
            "example": 1588720733602
          },
          "accessGroupId": {
            "type": "string",
            "description": "ID of the access group.",
            "example": "ag_123a6c5209bc3778245d011443644c8d27dc2c50"
          },
          "membersCount": {
            "type": "number",
            "description": "Number of members in the access group.",
            "example": 5
          },
          "projectsCount": {
            "type": "number",
            "description": "Number of projects in the access group.",
            "example": 2
          }
        },
        "required": [
          "name",
          "createdAt",
          "teamId",
          "updatedAt",
          "accessGroupId",
          "membersCount",
          "projectsCount"
        ],
        "type": "object",
        "description": "Represents an Access Group."
      },
      "ACLAction": {
        "type": "string",
        "enum": [
          "create",
          "delete",
          "read",
          "update",
          "list"
        ],
        "description": "Enum containing the actions that can be performed against a resource. Group operations are included."
      },
      "FlagJSONValue": {
        "nullable": true,
        "oneOf": [
          {
            "type": "string"
          },
          {
            "type": "number"
          },
          {
            "type": "boolean"
          },
          {
            "items": {
              "$ref": "#/components/schemas/FlagJSONValue"
            },
            "type": "array",
            "description": "TODO: The following types will eventually be exported by a more relevant package."
          },
          {
            "additionalProperties": {
              "$ref": "#/components/schemas/FlagJSONValue"
            },
            "type": "object"
          }
        ]
      },
      "Pagination": {
        "properties": {
          "count": {
            "type": "number",
            "description": "Amount of items in the current page.",
            "example": 20
          },
          "next": {
            "nullable": true,
            "type": "number",
            "description": "Timestamp that must be used to request the next page.",
            "example": 1540095775951
          },
          "prev": {
            "nullable": true,
            "type": "number",
            "description": "Timestamp that must be used to request the previous page.",
            "example": 1540095775951
          }
        },
        "required": [
          "count",
          "next",
          "prev"
        ],
        "type": "object",
        "description": "This object contains information related to the pagination of the current request, including the necessary parameters to get the next or previous page of data."
      },
      "EdgeConfigItemValue": {
        "nullable": true,
        "oneOf": [
          {
            "type": "string"
          },
          {
            "type": "number"
          },
          {
            "type": "boolean"
          },
          {
            "additionalProperties": {
              "$ref": "#/components/schemas/EdgeConfigItemValue"
            },
            "type": "object"
          },
          {
            "items": {
              "$ref": "#/components/schemas/EdgeConfigItemValue"
            },
            "type": "array"
          }
        ]
      },
      "EdgeConfigItem": {
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "$ref": "#/components/schemas/EdgeConfigItemValue"
          },
          "description": {
            "type": "string"
          },
          "edgeConfigId": {
            "type": "string"
          },
          "createdAt": {
            "type": "number"
          },
          "updatedAt": {
            "type": "number"
          }
        },
        "required": [
          "key",
          "value",
          "edgeConfigId",
          "createdAt",
          "updatedAt"
        ],
        "type": "object",
        "description": "The EdgeConfig."
      },
      "EdgeConfigToken": {
        "properties": {
          "token": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "description": "This is not the token itself, but rather an id to identify the token by"
          },
          "edgeConfigId": {
            "type": "string"
          },
          "createdAt": {
            "type": "number"
          }
        },
        "required": [
          "token",
          "label",
          "id",
          "edgeConfigId",
          "createdAt"
        ],
        "type": "object",
        "description": "The EdgeConfig."
      },
      "UserEvent": {
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the Event.",
            "example": "uev_bfmMjiMnXfnPbT97dGdpJbCN"
          },
          "text": {
            "type": "string",
            "description": "The human-readable text of the Event.",
            "example": "You logged in via GitHub"
          },
          "entities": {
            "items": {
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "author",
                    "bitbucket_login",
                    "bold",
                    "deployment_host",
                    "dns_record",
                    "git_link",
                    "github_login",
                    "gitlab_login",
                    "hook_name",
                    "integration",
                    "edge-config",
                    "link",
                    "project_name",
                    "scaling_rules",
                    "env_var_name",
                    "target",
                    "store",
                    "system"
                  ],
                  "description": "The type of entity.",
                  "example": "author"
                },
                "start": {
                  "type": "number",
                  "description": "The index of where the entity begins within the `text` (inclusive).",
                  "example": 0
                },
                "end": {
                  "type": "number",
                  "description": "The index of where the entity ends within the `text` (non-inclusive).",
                  "example": 3
                }
              },
              "required": [
                "type",
                "start",
                "end"
              ],
              "type": "object",
              "description": "A list of \"entities\" within the event `text`. Useful for enhancing the displayed text with additional styling and links."
            },
            "type": "array",
            "description": "A list of \"entities\" within the event `text`. Useful for enhancing the displayed text with additional styling and links."
          },
          "createdAt": {
            "type": "number",
            "description": "Timestamp (in milliseconds) of when the event was generated.",
            "example": 1632859321020
          },
          "user": {
            "properties": {
              "avatar": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "slug": {
                "type": "string"
              },
              "uid": {
                "type": "string"
              },
              "username": {
                "type": "string"
              }
            },
            "required": [
              "avatar",
              "email",
              "uid",
              "username"
            ],
            "type": "object",
            "description": "Metadata for the User who generated the event."
          },
          "userId": {
            "type": "string",
            "description": "The unique identifier of the User who generated the event.",
            "example": "zTuNVUXEAvvnNN3IaqinkyMw"
          }
        },
        "required": [
          "id",
          "text",
          "entities",
          "createdAt",
          "userId"
        ],
        "type": "object",
        "description": "Array of events generated by the User."
      },
      "Team": {
        "type": "object",
        "description": "Data representing a Team."
      },
      "TeamLimited": {
        "properties": {
          "limited": {
            "type": "boolean",
            "description": "Property indicating that this Team data contains only limited information, due to the authentication token missing privileges to read the full Team data. Re-login with the Team's configured SAML Single Sign-On provider in order to upgrade the authentication token with the necessary privileges."
          },
          "saml": {
            "properties": {
              "connection": {
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "The Identity Provider \"type\", for example Okta.",
                    "example": "OktaSAML"
                  },
                  "status": {
                    "type": "string",
                    "description": "Current status of the connection.",
                    "example": "linked"
                  },
                  "state": {
                    "type": "string",
                    "description": "Current state of the connection.",
                    "example": "active"
                  },
                  "connectedAt": {
                    "type": "number",
                    "description": "Timestamp (in milliseconds) of when the configuration was connected.",
                    "example": 1611796915677
                  },
                  "lastReceivedWebhookEvent": {
                    "type": "number",
                    "description": "Timestamp (in milliseconds) of when the last webhook event was received from WorkOS.",
                    "example": 1611796915677
                  }
                },
                "required": [
                  "type",
                  "status",
                  "state",
                  "connectedAt"
                ],
                "type": "object",
                "description": "Information for the SAML Single Sign-On configuration."
              },
              "directory": {
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "The Identity Provider \"type\", for example Okta.",
                    "example": "OktaSAML"
                  },
                  "state": {
                    "type": "string",
                    "description": "Current state of the connection.",
                    "example": "active"
                  },
                  "connectedAt": {
                    "type": "number",
                    "description": "Timestamp (in milliseconds) of when the configuration was connected.",
                    "example": 1611796915677
                  },
                  "lastReceivedWebhookEvent": {
                    "type": "number",
                    "description": "Timestamp (in milliseconds) of when the last webhook event was received from WorkOS.",
                    "example": 1611796915677
                  }
                },
                "required": [
                  "type",
                  "state",
                  "connectedAt"
                ],
                "type": "object",
                "description": "Information for the Directory Sync configuration."
              },
              "enforced": {
                "type": "boolean",
                "description": "When `true`, interactions with the Team **must** be done with an authentication token that has been authenticated with the Team's SAML Single Sign-On provider."
              }
            },
            "required": [
              "enforced"
            ],
            "type": "object",
            "description": "When \"Single Sign-On (SAML)\" is configured, this object contains information that allows the client-side to identify whether or not this Team has SAML enforced."
          },
          "id": {
            "type": "string",
            "description": "The Team's unique identifier.",
            "example": "team_nllPyCtREAqxxdyFKbbMDlxd"
          },
          "slug": {
            "type": "string",
            "description": "The Team's slug, which is unique across the Vercel platform.",
            "example": "my-team"
          },
          "name": {
            "nullable": true,
            "type": "string",
            "description": "Name associated with the Team account, or `null` if none has been provided.",
            "example": "My Team"
          },
          "avatar": {
            "nullable": true,
            "type": "string",
            "description": "The ID of the file used as avatar for this Team.",
            "example": "6eb07268bcfadd309905ffb1579354084c24655c"
          },
          "membership": {
            "properties": {
              "confirmed": {
                "type": "boolean"
              },
              "confirmedAt": {
                "type": "number"
              },
              "accessRequestedAt": {
                "type": "number"
              },
              "role": {
                "type": "string",
                "enum": [
                  "OWNER",
                  "MEMBER",
                  "DEVELOPER",
                  "BILLING",
                  "VIEWER",
                  "CONTRIBUTOR"
                ]
              },
              "teamId": {
                "type": "string"
              },
              "createdAt": {
                "type": "number"
              },
              "created": {
                "type": "number"
              },
              "joinedFrom": {
                "properties": {
                  "origin": {
                    "type": "string",
                    "enum": [
                      "link",
                      "saml",
                      "mail",
                      "import",
                      "teams",
                      "github",
                      "gitlab",
                      "bitbucket",
                      "dsync",
                      "feedback",
                      "organization-teams"
                    ]
                  },
                  "commitId": {
                    "type": "string"
                  },
                  "repoId": {
                    "type": "string"
                  },
                  "repoPath": {
                    "type": "string"
                  },
                  "gitUserId": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ]
                  },
                  "gitUserLogin": {
                    "type": "string"
                  },
                  "ssoUserId": {
                    "type": "string"
                  },
                  "ssoConnectedAt": {
                    "type": "number"
                  },
                  "idpUserId": {
                    "type": "string"
                  },
                  "dsyncUserId": {
                    "type": "string"
                  },
                  "dsyncConnectedAt": {
                    "type": "number"
                  }
                },
                "required": [
                  "origin"
                ],
                "type": "object"
              },
              "uid": {
                "type": "string"
              }
            },
            "type": "object",
            "description": "The membership of the authenticated User in relation to the Team."
          },
          "created": {
            "type": "string",
            "description": "Will remain undocumented. Remove in v3 API."
          },
          "createdAt": {
            "type": "number",
            "description": "UNIX timestamp (in milliseconds) when the Team was created.",
            "example": 1630748523395
          }
        },
        "required": [
          "limited",
          "id",
          "slug",
          "name",
          "avatar",
          "membership",
          "created",
          "createdAt"
        ],
        "type": "object",
        "description": "A limited form of data representing a Team, due to the authentication token missing privileges to read the full Team data."
      },
      "AuthUser": {
        "properties": {
          "createdAt": {
            "type": "number",
            "description": "UNIX timestamp (in milliseconds) when the User account was created.",
            "example": 1630748523395
          },
          "softBlock": {
            "nullable": true,
            "properties": {
              "blockedAt": {
                "type": "number"
              },
              "reason": {
                "type": "string",
                "enum": [
                  "SUBSCRIPTION_CANCELED",
                  "SUBSCRIPTION_EXPIRED",
                  "UNPAID_INVOICE",
                  "ENTERPRISE_TRIAL_ENDED",
                  "FAIR_USE_LIMITS_EXCEEDED",
                  "BLOCKED_FOR_PLATFORM_ABUSE"
                ]
              },
              "blockedDueToOverageType": {
                "type": "string",
                "enum": [
                  "analyticsUsage",
                  "artifacts",
                  "bandwidth",
                  "blobStores",
                  "blobTotalAdvancedRequests",
                  "blobTotalAvgSizeInBytes",
                  "blobTotalGetResponseObjectSizeInBytes",
                  "blobTotalSimpleRequests",
                  "buildMinute",
                  "dataCacheRead",
                  "dataCacheRevalidation",
                  "dataCacheWrite",
                  "edgeConfigRead",
                  "edgeConfigWrite",
                  "edgeFunctionExecutionUnits",
                  "edgeMiddlewareInvocations",
                  "edgeRequest",
                  "edgeRequestAdditionalCpuDuration",
                  "fastDataTransfer",
                  "fastOriginTransfer",
                  "functionDuration",
                  "functionInvocation",
                  "logDrainsVolume",
                  "monitoringMetric",
                  "postgresComputeTime",
                  "postgresDataStorage",
                  "postgresDataTransfer",
                  "postgresDatabase",
                  "postgresWrittenData",
                  "serverlessFunctionExecution",
                  "sourceImages",
                  "storageRedisTotalBandwidthInBytes",
                  "storageRedisTotalCommands",
                  "storageRedisTotalDailyAvgStorageInBytes",
                  "storageRedisTotalDatabases",
                  "wafOwaspExcessBytes",
                  "wafOwaspRequests",
                  "webAnalyticsEvent"
                ]
              }
            },
            "required": [
              "blockedAt",
              "reason"
            ],
            "type": "object",
            "description": "When the User account has been \"soft blocked\", this property will contain the date when the restriction was enacted, and the identifier for why."
          },
          "billing": {
            "nullable": true,
            "properties": {
              "currency": {
                "type": "string",
                "enum": [
                  "usd",
                  "eur"
                ]
              },
              "cancelation": {
                "nullable": true,
                "type": "number"
              },
              "period": {
                "nullable": true,
                "properties": {
                  "start": {
                    "type": "number"
                  },
                  "end": {
                    "type": "number"
                  }
                },
                "required": [
                  "start",
                  "end"
                ],
                "type": "object"
              },
              "contract": {
                "nullable": true,
                "properties": {
                  "start": {
                    "type": "number"
                  },
                  "end": {
                    "type": "number"
                  }
                },
                "required": [
                  "start",
                  "end"
                ],
                "type": "object"
              },
              "plan": {
                "type": "string",
                "enum": [
                  "pro",
                  "enterprise",
                  "hobby"
                ]
              },
              "planIteration": {
                "type": "string"
              },
              "platform": {
                "type": "string",
                "enum": [
                  "stripe",
                  "stripeTestMode"
                ]
              },
              "orbCustomerId": {
                "type": "string"
              },
              "syncedAt": {
                "type": "number"
              },
              "programType": {
                "type": "string",
                "enum": [
                  "startup",
                  "agency"
                ]
              },
              "trial": {
                "nullable": true,
                "properties": {
                  "start": {
                    "type": "number"
                  },
                  "end": {
                    "type": "number"
                  }
                },
                "required": [
                  "start",
                  "end"
                ],
                "type": "object"
              },
              "email": {
                "nullable": true,
                "type": "string"
              },
              "tax": {
                "nullable": true,
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  }
                },
                "required": [
                  "type",
                  "id"
                ],
                "type": "object"
              },
              "language": {
                "nullable": true,
                "type": "string"
              },
              "address": {
                "nullable": true,
                "properties": {
                  "line1": {
                    "type": "string"
                  },
                  "line2": {
                    "type": "string"
                  },
                  "postalCode": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "invoiceItems": {
                "nullable": true,
                "properties": {
                  "concurrentBuilds": {
                    "properties": {
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "quantity": {
                        "type": "number"
                      },
                      "highestQuantity": {
                        "type": "number",
                        "description": "The highest quantity in the current period. Used to render the correct enable/disable UI for add-ons."
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "createdAt": {
                        "type": "number"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "frequency": {
                        "properties": {
                          "interval": {
                            "type": "string",
                            "enum": [
                              "month"
                            ]
                          },
                          "intervalCount": {
                            "type": "number",
                            "enum": [
                              3,
                              2,
                              1,
                              6,
                              12
                            ]
                          }
                        },
                        "required": [
                          "interval",
                          "intervalCount"
                        ],
                        "type": "object"
                      },
                      "maxQuantity": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "quantity",
                      "hidden"
                    ],
                    "type": "object",
                    "description": "Will be used to create an invoice item. The price must be in cents: 2000 for $20."
                  },
                  "webAnalytics": {
                    "properties": {
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "quantity": {
                        "type": "number"
                      },
                      "highestQuantity": {
                        "type": "number",
                        "description": "The highest quantity in the current period. Used to render the correct enable/disable UI for add-ons."
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "createdAt": {
                        "type": "number"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "frequency": {
                        "properties": {
                          "interval": {
                            "type": "string",
                            "enum": [
                              "month"
                            ]
                          },
                          "intervalCount": {
                            "type": "number",
                            "enum": [
                              3,
                              2,
                              1,
                              6,
                              12
                            ]
                          }
                        },
                        "required": [
                          "interval",
                          "intervalCount"
                        ],
                        "type": "object"
                      },
                      "maxQuantity": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "quantity",
                      "hidden"
                    ],
                    "type": "object",
                    "description": "Will be used to create an invoice item. The price must be in cents: 2000 for $20."
                  },
                  "pro": {
                    "properties": {
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "quantity": {
                        "type": "number"
                      },
                      "highestQuantity": {
                        "type": "number",
                        "description": "The highest quantity in the current period. Used to render the correct enable/disable UI for add-ons."
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "createdAt": {
                        "type": "number"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "frequency": {
                        "properties": {
                          "interval": {
                            "type": "string",
                            "enum": [
                              "month"
                            ]
                          },
                          "intervalCount": {
                            "type": "number",
                            "enum": [
                              3,
                              2,
                              1,
                              6,
                              12
                            ]
                          }
                        },
                        "required": [
                          "interval",
                          "intervalCount"
                        ],
                        "type": "object"
                      },
                      "maxQuantity": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "quantity",
                      "hidden"
                    ],
                    "type": "object",
                    "description": "Will be used to create an invoice item. The price must be in cents: 2000 for $20."
                  },
                  "enterprise": {
                    "properties": {
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "quantity": {
                        "type": "number"
                      },
                      "highestQuantity": {
                        "type": "number",
                        "description": "The highest quantity in the current period. Used to render the correct enable/disable UI for add-ons."
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "createdAt": {
                        "type": "number"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "frequency": {
                        "properties": {
                          "interval": {
                            "type": "string",
                            "enum": [
                              "month"
                            ]
                          },
                          "intervalCount": {
                            "type": "number",
                            "enum": [
                              3,
                              2,
                              1,
                              6,
                              12
                            ]
                          }
                        },
                        "required": [
                          "interval",
                          "intervalCount"
                        ],
                        "type": "object"
                      },
                      "maxQuantity": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "quantity",
                      "hidden"
                    ],
                    "type": "object",
                    "description": "Will be used to create an invoice item. The price must be in cents: 2000 for $20."
                  },
                  "analytics": {
                    "properties": {
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "quantity": {
                        "type": "number"
                      },
                      "highestQuantity": {
                        "type": "number",
                        "description": "The highest quantity in the current period. Used to render the correct enable/disable UI for add-ons."
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "createdAt": {
                        "type": "number"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "frequency": {
                        "properties": {
                          "interval": {
                            "type": "string",
                            "enum": [
                              "month"
                            ]
                          },
                          "intervalCount": {
                            "type": "number",
                            "enum": [
                              3,
                              2,
                              1,
                              6,
                              12
                            ]
                          }
                        },
                        "required": [
                          "interval",
                          "intervalCount"
                        ],
                        "type": "object"
                      },
                      "maxQuantity": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "quantity",
                      "hidden"
                    ],
                    "type": "object",
                    "description": "Will be used to create an invoice item. The price must be in cents: 2000 for $20."
                  },
                  "developerExperiencePlatform": {
                    "properties": {
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "quantity": {
                        "type": "number"
                      },
                      "highestQuantity": {
                        "type": "number",
                        "description": "The highest quantity in the current period. Used to render the correct enable/disable UI for add-ons."
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "createdAt": {
                        "type": "number"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "frequency": {
                        "properties": {
                          "interval": {
                            "type": "string",
                            "enum": [
                              "month"
                            ]
                          },
                          "intervalCount": {
                            "type": "number",
                            "enum": [
                              3,
                              2,
                              1,
                              6,
                              12
                            ]
                          }
                        },
                        "required": [
                          "interval",
                          "intervalCount"
                        ],
                        "type": "object"
                      },
                      "maxQuantity": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "quantity",
                      "hidden"
                    ],
                    "type": "object",
                    "description": "Will be used to create an invoice item. The price must be in cents: 2000 for $20."
                  },
                  "includedAllocationMiu": {
                    "properties": {
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "quantity": {
                        "type": "number"
                      },
                      "highestQuantity": {
                        "type": "number",
                        "description": "The highest quantity in the current period. Used to render the correct enable/disable UI for add-ons."
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "createdAt": {
                        "type": "number"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "frequency": {
                        "properties": {
                          "interval": {
                            "type": "string",
                            "enum": [
                              "month"
                            ]
                          },
                          "intervalCount": {
                            "type": "number",
                            "enum": [
                              3,
                              2,
                              1,
                              6,
                              12
                            ]
                          }
                        },
                        "required": [
                          "interval",
                          "intervalCount"
                        ],
                        "type": "object"
                      },
                      "maxQuantity": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "quantity",
                      "hidden"
                    ],
                    "type": "object",
                    "description": "Will be used to create an invoice item. The price must be in cents: 2000 for $20."
                  },
                  "managedInfrastructureCommitment": {
                    "properties": {
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "quantity": {
                        "type": "number"
                      },
                      "highestQuantity": {
                        "type": "number",
                        "description": "The highest quantity in the current period. Used to render the correct enable/disable UI for add-ons."
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "createdAt": {
                        "type": "number"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "frequency": {
                        "properties": {
                          "interval": {
                            "type": "string",
                            "enum": [
                              "month"
                            ]
                          },
                          "intervalCount": {
                            "type": "number",
                            "enum": [
                              3,
                              2,
                              1,
                              6,
                              12
                            ]
                          }
                        },
                        "required": [
                          "interval",
                          "intervalCount"
                        ],
                        "type": "object"
                      },
                      "maxQuantity": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "quantity",
                      "hidden"
                    ],
                    "type": "object",
                    "description": "Will be used to create an invoice item. The price must be in cents: 2000 for $20."
                  },
                  "monitoring": {
                    "properties": {
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "quantity": {
                        "type": "number"
                      },
                      "highestQuantity": {
                        "type": "number",
                        "description": "The highest quantity in the current period. Used to render the correct enable/disable UI for add-ons."
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "createdAt": {
                        "type": "number"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "frequency": {
                        "properties": {
                          "interval": {
                            "type": "string",
                            "enum": [
                              "month"
                            ]
                          },
                          "intervalCount": {
                            "type": "number",
                            "enum": [
                              3,
                              2,
                              1,
                              6,
                              12
                            ]
                          }
                        },
                        "required": [
                          "interval",
                          "intervalCount"
                        ],
                        "type": "object"
                      },
                      "maxQuantity": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "quantity",
                      "hidden"
                    ],
                    "type": "object",
                    "description": "Will be used to create an invoice item. The price must be in cents: 2000 for $20."
                  },
                  "passwordProtection": {
                    "properties": {
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "quantity": {
                        "type": "number"
                      },
                      "highestQuantity": {
                        "type": "number",
                        "description": "The highest quantity in the current period. Used to render the correct enable/disable UI for add-ons."
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "createdAt": {
                        "type": "number"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "frequency": {
                        "properties": {
                          "interval": {
                            "type": "string",
                            "enum": [
                              "month"
                            ]
                          },
                          "intervalCount": {
                            "type": "number",
                            "enum": [
                              3,
                              2,
                              1,
                              6,
                              12
                            ]
                          }
                        },
                        "required": [
                          "interval",
                          "intervalCount"
                        ],
                        "type": "object"
                      },
                      "maxQuantity": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "quantity",
                      "hidden"
                    ],
                    "type": "object",
                    "description": "Will be used to create an invoice item. The price must be in cents: 2000 for $20."
                  },
                  "previewDeploymentSuffix": {
                    "properties": {
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "quantity": {
                        "type": "number"
                      },
                      "highestQuantity": {
                        "type": "number",
                        "description": "The highest quantity in the current period. Used to render the correct enable/disable UI for add-ons."
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "createdAt": {
                        "type": "number"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "frequency": {
                        "properties": {
                          "interval": {
                            "type": "string",
                            "enum": [
                              "month"
                            ]
                          },
                          "intervalCount": {
                            "type": "number",
                            "enum": [
                              3,
                              2,
                              1,
                              6,
                              12
                            ]
                          }
                        },
                        "required": [
                          "interval",
                          "intervalCount"
                        ],
                        "type": "object"
                      },
                      "maxQuantity": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "quantity",
                      "hidden"
                    ],
                    "type": "object",
                    "description": "Will be used to create an invoice item. The price must be in cents: 2000 for $20."
                  },
                  "saml": {
                    "properties": {
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "quantity": {
                        "type": "number"
                      },
                      "highestQuantity": {
                        "type": "number",
                        "description": "The highest quantity in the current period. Used to render the correct enable/disable UI for add-ons."
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "createdAt": {
                        "type": "number"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "frequency": {
                        "properties": {
                          "interval": {
                            "type": "string",
                            "enum": [
                              "month"
                            ]
                          },
                          "intervalCount": {
                            "type": "number",
                            "enum": [
                              3,
                              2,
                              1,
                              6,
                              12
                            ]
                          }
                        },
                        "required": [
                          "interval",
                          "intervalCount"
                        ],
                        "type": "object"
                      },
                      "maxQuantity": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "quantity",
                      "hidden"
                    ],
                    "type": "object",
                    "description": "Will be used to create an invoice item. The price must be in cents: 2000 for $20."
                  },
                  "teamSeats": {
                    "properties": {
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "quantity": {
                        "type": "number"
                      },
                      "highestQuantity": {
                        "type": "number",
                        "description": "The highest quantity in the current period. Used to render the correct enable/disable UI for add-ons."
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "createdAt": {
                        "type": "number"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "frequency": {
                        "properties": {
                          "interval": {
                            "type": "string",
                            "enum": [
                              "month"
                            ]
                          },
                          "intervalCount": {
                            "type": "number",
                            "enum": [
                              3,
                              2,
                              1,
                              6,
                              12
                            ]
                          }
                        },
                        "required": [
                          "interval",
                          "intervalCount"
                        ],
                        "type": "object"
                      },
                      "maxQuantity": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "quantity",
                      "hidden"
                    ],
                    "type": "object",
                    "description": "Will be used to create an invoice item. The price must be in cents: 2000 for $20."
                  },
                  "vercelMarketplace": {
                    "properties": {
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "quantity": {
                        "type": "number"
                      },
                      "highestQuantity": {
                        "type": "number",
                        "description": "The highest quantity in the current period. Used to render the correct enable/disable UI for add-ons."
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "createdAt": {
                        "type": "number"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "frequency": {
                        "properties": {
                          "interval": {
                            "type": "string",
                            "enum": [
                              "month"
                            ]
                          },
                          "intervalCount": {
                            "type": "number",
                            "enum": [
                              3,
                              2,
                              1,
                              6,
                              12
                            ]
                          }
                        },
                        "required": [
                          "interval",
                          "intervalCount"
                        ],
                        "type": "object"
                      },
                      "maxQuantity": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "quantity",
                      "hidden"
                    ],
                    "type": "object",
                    "description": "Will be used to create an invoice item. The price must be in cents: 2000 for $20."
                  },
                  "analyticsUsage": {
                    "properties": {
                      "matrix": {
                        "properties": {
                          "defaultUnitPrice": {
                            "type": "string"
                          },
                          "dimensionPrices": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          }
                        },
                        "required": [
                          "defaultUnitPrice",
                          "dimensionPrices"
                        ],
                        "type": "object"
                      },
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "batch": {
                        "type": "number"
                      },
                      "threshold": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "enabledAt": {
                        "nullable": true,
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "batch",
                      "threshold",
                      "hidden"
                    ],
                    "type": "object"
                  },
                  "artifacts": {
                    "properties": {
                      "matrix": {
                        "properties": {
                          "defaultUnitPrice": {
                            "type": "string"
                          },
                          "dimensionPrices": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          }
                        },
                        "required": [
                          "defaultUnitPrice",
                          "dimensionPrices"
                        ],
                        "type": "object"
                      },
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "batch": {
                        "type": "number"
                      },
                      "threshold": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "enabledAt": {
                        "nullable": true,
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "batch",
                      "threshold",
                      "hidden"
                    ],
                    "type": "object"
                  },
                  "bandwidth": {
                    "properties": {
                      "matrix": {
                        "properties": {
                          "defaultUnitPrice": {
                            "type": "string"
                          },
                          "dimensionPrices": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          }
                        },
                        "required": [
                          "defaultUnitPrice",
                          "dimensionPrices"
                        ],
                        "type": "object"
                      },
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "batch": {
                        "type": "number"
                      },
                      "threshold": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "enabledAt": {
                        "nullable": true,
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "batch",
                      "threshold",
                      "hidden"
                    ],
                    "type": "object"
                  },
                  "blobStores": {
                    "properties": {
                      "matrix": {
                        "properties": {
                          "defaultUnitPrice": {
                            "type": "string"
                          },
                          "dimensionPrices": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          }
                        },
                        "required": [
                          "defaultUnitPrice",
                          "dimensionPrices"
                        ],
                        "type": "object"
                      },
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "batch": {
                        "type": "number"
                      },
                      "threshold": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "enabledAt": {
                        "nullable": true,
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "batch",
                      "threshold",
                      "hidden"
                    ],
                    "type": "object"
                  },
                  "blobTotalAdvancedRequests": {
                    "properties": {
                      "matrix": {
                        "properties": {
                          "defaultUnitPrice": {
                            "type": "string"
                          },
                          "dimensionPrices": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          }
                        },
                        "required": [
                          "defaultUnitPrice",
                          "dimensionPrices"
                        ],
                        "type": "object"
                      },
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "batch": {
                        "type": "number"
                      },
                      "threshold": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "enabledAt": {
                        "nullable": true,
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "batch",
                      "threshold",
                      "hidden"
                    ],
                    "type": "object"
                  },
                  "blobTotalAvgSizeInBytes": {
                    "properties": {
                      "matrix": {
                        "properties": {
                          "defaultUnitPrice": {
                            "type": "string"
                          },
                          "dimensionPrices": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          }
                        },
                        "required": [
                          "defaultUnitPrice",
                          "dimensionPrices"
                        ],
                        "type": "object"
                      },
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "batch": {
                        "type": "number"
                      },
                      "threshold": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "enabledAt": {
                        "nullable": true,
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "batch",
                      "threshold",
                      "hidden"
                    ],
                    "type": "object"
                  },
                  "blobTotalGetResponseObjectSizeInBytes": {
                    "properties": {
                      "matrix": {
                        "properties": {
                          "defaultUnitPrice": {
                            "type": "string"
                          },
                          "dimensionPrices": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          }
                        },
                        "required": [
                          "defaultUnitPrice",
                          "dimensionPrices"
                        ],
                        "type": "object"
                      },
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "batch": {
                        "type": "number"
                      },
                      "threshold": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "enabledAt": {
                        "nullable": true,
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "batch",
                      "threshold",
                      "hidden"
                    ],
                    "type": "object"
                  },
                  "blobTotalSimpleRequests": {
                    "properties": {
                      "matrix": {
                        "properties": {
                          "defaultUnitPrice": {
                            "type": "string"
                          },
                          "dimensionPrices": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          }
                        },
                        "required": [
                          "defaultUnitPrice",
                          "dimensionPrices"
                        ],
                        "type": "object"
                      },
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "batch": {
                        "type": "number"
                      },
                      "threshold": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "enabledAt": {
                        "nullable": true,
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "batch",
                      "threshold",
                      "hidden"
                    ],
                    "type": "object"
                  },
                  "buildMinute": {
                    "properties": {
                      "matrix": {
                        "properties": {
                          "defaultUnitPrice": {
                            "type": "string"
                          },
                          "dimensionPrices": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          }
                        },
                        "required": [
                          "defaultUnitPrice",
                          "dimensionPrices"
                        ],
                        "type": "object"
                      },
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "batch": {
                        "type": "number"
                      },
                      "threshold": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "enabledAt": {
                        "nullable": true,
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "batch",
                      "threshold",
                      "hidden"
                    ],
                    "type": "object"
                  },
                  "dataCacheRead": {
                    "properties": {
                      "matrix": {
                        "properties": {
                          "defaultUnitPrice": {
                            "type": "string"
                          },
                          "dimensionPrices": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          }
                        },
                        "required": [
                          "defaultUnitPrice",
                          "dimensionPrices"
                        ],
                        "type": "object"
                      },
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "batch": {
                        "type": "number"
                      },
                      "threshold": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "enabledAt": {
                        "nullable": true,
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "batch",
                      "threshold",
                      "hidden"
                    ],
                    "type": "object"
                  },
                  "dataCacheRevalidation": {
                    "properties": {
                      "matrix": {
                        "properties": {
                          "defaultUnitPrice": {
                            "type": "string"
                          },
                          "dimensionPrices": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          }
                        },
                        "required": [
                          "defaultUnitPrice",
                          "dimensionPrices"
                        ],
                        "type": "object"
                      },
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "batch": {
                        "type": "number"
                      },
                      "threshold": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "enabledAt": {
                        "nullable": true,
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "batch",
                      "threshold",
                      "hidden"
                    ],
                    "type": "object"
                  },
                  "dataCacheWrite": {
                    "properties": {
                      "matrix": {
                        "properties": {
                          "defaultUnitPrice": {
                            "type": "string"
                          },
                          "dimensionPrices": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          }
                        },
                        "required": [
                          "defaultUnitPrice",
                          "dimensionPrices"
                        ],
                        "type": "object"
                      },
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "batch": {
                        "type": "number"
                      },
                      "threshold": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "enabledAt": {
                        "nullable": true,
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "batch",
                      "threshold",
                      "hidden"
                    ],
                    "type": "object"
                  },
                  "edgeConfigRead": {
                    "properties": {
                      "matrix": {
                        "properties": {
                          "defaultUnitPrice": {
                            "type": "string"
                          },
                          "dimensionPrices": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          }
                        },
                        "required": [
                          "defaultUnitPrice",
                          "dimensionPrices"
                        ],
                        "type": "object"
                      },
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "batch": {
                        "type": "number"
                      },
                      "threshold": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "enabledAt": {
                        "nullable": true,
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "batch",
                      "threshold",
                      "hidden"
                    ],
                    "type": "object"
                  },
                  "edgeConfigWrite": {
                    "properties": {
                      "matrix": {
                        "properties": {
                          "defaultUnitPrice": {
                            "type": "string"
                          },
                          "dimensionPrices": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          }
                        },
                        "required": [
                          "defaultUnitPrice",
                          "dimensionPrices"
                        ],
                        "type": "object"
                      },
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "batch": {
                        "type": "number"
                      },
                      "threshold": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "enabledAt": {
                        "nullable": true,
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "batch",
                      "threshold",
                      "hidden"
                    ],
                    "type": "object"
                  },
                  "edgeFunctionExecutionUnits": {
                    "properties": {
                      "matrix": {
                        "properties": {
                          "defaultUnitPrice": {
                            "type": "string"
                          },
                          "dimensionPrices": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          }
                        },
                        "required": [
                          "defaultUnitPrice",
                          "dimensionPrices"
                        ],
                        "type": "object"
                      },
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "batch": {
                        "type": "number"
                      },
                      "threshold": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "enabledAt": {
                        "nullable": true,
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "batch",
                      "threshold",
                      "hidden"
                    ],
                    "type": "object"
                  },
                  "edgeMiddlewareInvocations": {
                    "properties": {
                      "matrix": {
                        "properties": {
                          "defaultUnitPrice": {
                            "type": "string"
                          },
                          "dimensionPrices": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          }
                        },
                        "required": [
                          "defaultUnitPrice",
                          "dimensionPrices"
                        ],
                        "type": "object"
                      },
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "batch": {
                        "type": "number"
                      },
                      "threshold": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "enabledAt": {
                        "nullable": true,
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "batch",
                      "threshold",
                      "hidden"
                    ],
                    "type": "object"
                  },
                  "edgeRequest": {
                    "properties": {
                      "matrix": {
                        "properties": {
                          "defaultUnitPrice": {
                            "type": "string"
                          },
                          "dimensionPrices": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          }
                        },
                        "required": [
                          "defaultUnitPrice",
                          "dimensionPrices"
                        ],
                        "type": "object"
                      },
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "batch": {
                        "type": "number"
                      },
                      "threshold": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "enabledAt": {
                        "nullable": true,
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "batch",
                      "threshold",
                      "hidden"
                    ],
                    "type": "object"
                  },
                  "edgeRequestAdditionalCpuDuration": {
                    "properties": {
                      "matrix": {
                        "properties": {
                          "defaultUnitPrice": {
                            "type": "string"
                          },
                          "dimensionPrices": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          }
                        },
                        "required": [
                          "defaultUnitPrice",
                          "dimensionPrices"
                        ],
                        "type": "object"
                      },
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "batch": {
                        "type": "number"
                      },
                      "threshold": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "enabledAt": {
                        "nullable": true,
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "batch",
                      "threshold",
                      "hidden"
                    ],
                    "type": "object"
                  },
                  "fastDataTransfer": {
                    "properties": {
                      "matrix": {
                        "properties": {
                          "defaultUnitPrice": {
                            "type": "string"
                          },
                          "dimensionPrices": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          }
                        },
                        "required": [
                          "defaultUnitPrice",
                          "dimensionPrices"
                        ],
                        "type": "object"
                      },
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "batch": {
                        "type": "number"
                      },
                      "threshold": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "enabledAt": {
                        "nullable": true,
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "batch",
                      "threshold",
                      "hidden"
                    ],
                    "type": "object"
                  },
                  "fastOriginTransfer": {
                    "properties": {
                      "matrix": {
                        "properties": {
                          "defaultUnitPrice": {
                            "type": "string"
                          },
                          "dimensionPrices": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          }
                        },
                        "required": [
                          "defaultUnitPrice",
                          "dimensionPrices"
                        ],
                        "type": "object"
                      },
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "batch": {
                        "type": "number"
                      },
                      "threshold": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "enabledAt": {
                        "nullable": true,
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "batch",
                      "threshold",
                      "hidden"
                    ],
                    "type": "object"
                  },
                  "functionDuration": {
                    "properties": {
                      "matrix": {
                        "properties": {
                          "defaultUnitPrice": {
                            "type": "string"
                          },
                          "dimensionPrices": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          }
                        },
                        "required": [
                          "defaultUnitPrice",
                          "dimensionPrices"
                        ],
                        "type": "object"
                      },
                      "tier": {
                        "type": "number"
                      },
                      "price": {
                        "type": "number"
                      },
                      "batch": {
                        "type": "number"
                      },
                      "threshold": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "hidden": {
                        "type": "boolean"
                      },
                      "disabledAt": {
                        "nullable": true,
                        "type": "number"
                      },
                      "enabledAt": {
                        "nullable": true,
                        "type": "number"
                      }
                    },
                    "required": [
                      "price",
                      "batch",
                      "threshold",
                      "hidden"
                    ],
                    "type": "object"
                  },
                  "functionInvocation": {
                    "properties": {
                      "matrix": {
                        "properties": {
                          "defaultUnitPrice": {
                            "type": "string"
                          },
                          "dimensionPrices": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          }
                        },
                        "required": [
[...]
