on:
  push:
    branches:
      - main
    paths:
      - '**.rs'
      - '**.rs.gen'
      - Cargo.toml
      - Cargo.lock
      - .github/workflows/cargo-test.yml
      - 'rust-toolchain'
      - 'rust-toolchain.toml'
  pull_request:
  workflow_dispatch:
name: cargo test
jobs:
  cargotest:
    name: cargo test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Cache cargo registry
        uses: actions/cache@v5
        with:
          path: ~/.cargo/registry
          key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
      - name: Cache cargo index
        uses: actions/cache@v5
        with:
          path: ~/.cargo/git
          key: ${{ runner.os }}-cargo-index-${{ hashFiles('**/Cargo.lock') }}
      - name: Cache cargo build
        uses: actions/cache@v5
        with:
          path: target
          key: ${{ runner.os }}-cargo-build-target-${{ hashFiles('**/Cargo.lock') }}

      - name: cargo test
        shell: bash
        run: |
          cargo test --all
        env:
          RUST_BACKTRACE: 1
          FRONT_API_TOKEN: ${{secrets.FRONT_API_TOKEN}}
          REMOTE_API_TOKEN: ${{secrets.REMOTE_API_TOKEN_DEV_CI}}

          # TODO: turn back on coverage.
          # Somehow gather coverage

          #- name: Upload to codecov.io
          #uses: codecov/codecov-action@v3
          #with:
          #token: ${{secrets.CODECOV_TOKEN}}
          #fail_ci_if_error: true
          #flags: unittests
          #verbose: true
